{% extends "base.html" %} <!--  -->

{% block content %}
<h1>About</h1>

<!--<h3>{{ title|capfirst }}</h3>  capfirst capitilizing first letter  -->
<!--<h3>{{ title|capfirst|upper }}</h3>  caps every letter  -->
<h3>{{ title|title }}</h3>
<h3>{{ title|upper }}</h3>
<h3>{{ title }}</h3>
<p>This is a template</p>


{{my_html|safe}}		
{{my_html|striptags}} 	<!-- basically strip <h1> tags -->
{{my_html|slugify}}		<!-- 'slug' version, more URL safe version -->
{{my_html|striptags|slugify}} <!-- clear advance looking URL? Take this one! -->
{{my_html}}


<p>
, {{ my_number }}
{{my_list}}
</p>

<ul>
	<li>Item 1</li>
	<li>Item 2</li>
</ul>

<ul>
{% for abc in my_list %}
	{% if abc == 312 %}
		<li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
	{% elif abc == "Abc" %}
		<li>This is not the network</li>
	{% else %}
		<li>{{ forloop.counter }} - {{ abc }}</li>
	{% endif %}
{% endfor %}
</ul>


{% comment "oouch note" %}
	<p>also I could make comments like this </p>
{% endcomment %}

{% endblock content %}

<!--tags on this page are :
Provided by Django is extends#1 and other ones are block#3,for#19,if#20,comment#31 and there are even more! -->
